{% extends "tictac/base.html" %}

{% block content %}

    <div class="large-offset-3 large-6 columns">
        <form action="/login/" method="post">{% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <p></p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <p>
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            </p>
            <input class="button" type="submit" value="login">
        </form>
    </div>    
{% endblock %}