{% extends "tictac/base.html" %}

{% block content %}
    <div class="large-offset-3 large-6 columns">
        <form action="/register/" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="button" type="submit" value="Register">
        </form>
    </div>
{% endblock %}