    {% load staticfiles %}
    <html>
        <head>
            <title>Serega's blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/tictac.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        </head>
        <body>
            <div class="page-header">
                {% if user.is_authenticated %}
                <a href="{% url 'tictac.views.start_game' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'tictac.views.logout' %}">Log out</a>)</small></p>
                {% else %}
                <a href="{% url 'tictac.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                <a href="/register/" class="top-menu"><span class="glyphicon glyphicon-user"></span></a></h1>
                {% endif %}
                <h1><a href="{% url 'tictac.views.game_list' %}">Serega's tictac</a>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
    </html>
