{% extends 'tictac/base.html' %}

    {% block content %}
        {% for game in games %}
            {% if game.status == 0 and game.author != request.user %}
            <div class="post">
                <h1><a href="{% url 'my_games' pk=game.pk %}">{{ game.title }}</a></h1>
                <h2>Creator is {{ game.author }}</h2>
                {% if user.is_authenticated and game.author != request.user %}
                    <a class="btn btn-default" href="{% url 'tictac.views.game_join' pk=game.pk %}">Join</a>
                {% endif %}
                <p>{{ game.status }}</p>
            </div>
            {% endif %}
        {% endfor %}

{% endblock content %}

