{% extends 'tictac/base.html' %}

 {% block content %}
    <div class="post">
        <h2>{{ game.title }}</h2>
        <h1>{{ request.user }}</h1>
        <h1>{{ game.status }}</h1>
        {% if game.status == 3 %}
            <h1> Game over :)</h1>
            <h1> The winner is friendship</h1>
        {% elif game.status == 1 or game.status == 2 %}
            <h2>
                {% if your_turn %}
                    Твой ход!
                    <form action="/game/{{ game.pk }}/" method="POST" class="post-form" >{% csrf_token %}
                        <input name="cell"  pattern = "^[ 0-9]+$"></input><br>
                        <input name="y"  pattern = "^[ 0-9]+$"></input><br>
                        <button type="submit" class="save btn btn-default">OK</button>
                    </form>
                {% else %}
                    Ожидай хода соперника
                {% endif %}
            </h2>
        {% elif game.status == 0 %}
        <h1> Ждем Соперника </h1>
        {% endif %}
    <h1>Author Coords:</h1>
    {% for slice in temp_author_coords %}
        <h1> {{ slice }} </h1>
    {% endfor %}
    <h1>Opponent Coords:</h1>
    {% for slice in temp_opponent_coords %}
        <h1> {{ slice }} </h1>
    {% endfor %}
</div>
{% endblock %}