{% extends 'tictac/base.html' %}

{% block content %}
<h1> Start Game </h1>
    <form  method="POST" class = "post-form">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Start New Game" />
    </form>
{% endblock %}
